.wrapper {
  &:last-child {
    margin-bottom: 0rem;
  }
  margin-bottom: 1.5rem;
  margin-top: 0;
  p {
    margin-bottom: 0.75rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
  }
}
